.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(2em + 2vmin);
}

@media only screen and (max-width: 768px) {
  .App {
    min-height: 100vh;
    max-height: 100vh;
    font-size: calc(8vmin);
  }
}

@media only screen and (max-width: 230px) {
  .App {
    min-height: 100vh;
    max-height: 100vh;
    font-size: calc(9vmin);
  }
}

.App-link {
  color: #61dafb;
}

.version {
  color: dimgray;
  align-self: center;
  text-align: center;
  font-size: 0.3em;
}
