.App {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: calc(2em + 2vmin);
  color: white;
}

.lateEvening {
  background-color: #ff9999;
  color: black;
}

.earlyEvening {
  background-color: #ffffcc;
  color: black;
}
.work {
  background-color: #ccffcc;
  color: black;
}
.morning {
  background-color: #ffffcc;
  color: black;
}
.night {
  background-color: black;
  color: white;
}

.TimeBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  width: 50vw;
}

.TimeBlockSegment {
  display: flex;
  justify-content: space-between;
}

.Time {
  font-family: monospace;
}

.Timezone {
  text-align: right;
  align-items: right;
  font-size: 0.4em;
}

.App-link {
  color: #61dafb;
}
